{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Student List</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/attendance.css' %}">
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>

	

</head>
<body>
	<h1 align="center">Student List</h1>
	
	<div class="container">
		<div class="md-col-10">
			Group:	
        	<div class="btn-group show-on-hover" style="margin: 20px;">
          		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Select a group<span class="caret"></span></button>
          		<ul class="dropdown-menu" role="menu">
          			{% for group in groups %}
		            	<li><a href="#">{{group.group_id}}</a></li>
		            {% endfor %}
          		</ul>
        	</div>
			<table class="table table-hover" align="center">
				<tr>
					<th>Student ID</th>
					<th>Student Name</th>
				</tr>
				{% for student in students %}
					<tr>
						<td>{{student.student_id}}</td>
						<td>{{student.student_first_name}} {{student.student_last_name}}</td>
					</tr>
				{% endfor %}				
			</table>			
		</div>
	</div>
	
</body>
</html>